.mobile-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.mobile-navbar i:hover {
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  padding: 2rem;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
}

.fas {
  font-size: 1.5rem;
}

.mobile-menu a {
  text-decoration: none;
}

.nav-item-mobile {
  margin: 4rem 4rem;
}